/* COLORS
*******************************************************/
$red: #d84b42;

$grey: #929395;
$grey-light: #eeeeee;
$white: #ffffff;

$green: #92caa7;
$green-light: #bbddc6;

/* TYPOGRAPHY
*******************************************************/

// Fonts family
$heading-font: 'Raleway', sans-serif;
$text-font: 'Roboto', sans-serif;

// Fonts size
$m-mobile: 1rem;
$m: 2rem;

$l-mobile: 2.4rem;
$l: 3rem;

$xl-mobile: 3.5rem;
$xl: 3.5rem;
